

nav .container-fluid img {
  width: 170px;
  object-fit: contain;
  filter: invert(3);
}

@media (min-width: 768px) {
  .navbar-collapse > .custom {
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  div#navbarSupportedContent {
    z-index: 10000;
    /* height: 100%; */
    position: absolute;
    top: 56px;
    background-color: #f8f9fd;
    width: 100%;
    left: 0;
    text-align: center;
  }
}
