.login__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 10vh);
}

.login__box {
  width: 800px;
  padding: 4rem;
  margin: 0 20px;
  border-radius: .5rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.14);
}

.parent {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid #999;
    margin-bottom:35px;
}

.parent > .child1 {
    width: 10%;
    z-index: 99;
}
.parent > .child1{
  font-size:14px;
}

.parent > .child2 {
    width: 90%;
    z-index: 1;
}
.parent > .child2 input{
    width:100%;
    border:none;
    outline:none;
    background:none;
    margin-bottom:6px;
}

.parent > .child2 input:focus{
    border: none !important;
    outline: none !important;
}
.login_icon .login__color {
  font-size: 17px;
  padding:8px 5px;
  color:#fff;
}


